<div class="content-wrapper" style="min-height: 498px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <a href="registrados.php">
            <span class="info-box-icon bg-aqua"><i class="fa fa-glass"></i></span>

          </a>
          <div class="info-box-content">
            <span class="info-box-text">Registrados</span>
            <span class="info-box-number">9</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <a href="asignados.php">
            <span class="info-box-icon bg-green"><i class="fa fa-rocket"></i></span>
          </a>
          <div class="info-box-content">
            <span class="info-box-text">Asignados</span>
            <span class="info-box-number">203</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <a href="cancelados.php">
            <span class="info-box-icon bg-yellow"><i class="fa fa-ban"></i></span>
          </a>
          <div class="info-box-content">
            <span class="info-box-text">Con Incidencía</span>
            <span class="info-box-number">9</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <a href="atendidos.php">
            <span class="info-box-icon bg-red"><i class="fa fa-flask"></i></span>
          </a>
          <div class="info-box-content">
            <span class="info-box-text">Atendidos</span>
            <span class="info-box-number">185</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- empleado -->
    <!-- Info boxes -->
    <!-- end empleado -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-12">


        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Tickets Recientes</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->

          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin table-bordered">
                <thead class="table_header">
                  <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Empresa</th>
                    <th>Requerimientos</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="ticket_detail.php?id=406">B2019 - 000768</a></td>
                    <td>parroquia crito rey (<b>oeducati2019@gmail.com</b>)</td>
                    <td><span class="label label-success">ABisoft INC</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">uno de los documentos que piden para enero no</div>
                    </td>
                    <td>
                      <span class="label label-success">Atendido</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="ticket_detail.php?id=405">B2019 - 000767</a></td>
                    <td>molina - gremio salta  (<b>molina@gemiosalta.com.ar</b>)</td>
                    <td><span class="label label-success">ABisoft INC</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">no prende ninguna luz testigo </div>
                    </td>
                    <td>
                      <span class="label label-danger">Con Incidencia</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="ticket_detail.php?id=404">B2019 - 000766</a></td>
                    <td>Rafel - los pinos  (<b>lu.his@hotmail.com</b>)</td>
                    <td><span class="label label-success">ABisoft INC</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">no inicia windows - muestra reparación autom</div>
                    </td>
                    <td>
                      <span class="label label-danger">Con Incidencia</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="ticket_detail.php?id=403">B2019 - 000765</a></td>
                    <td>Carla Bejarano (<b>carla.bejarano@gmail.com</b>)</td>
                    <td><span class="label label-success">ABisoft INC</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">IMPRESORA CON ATASCO DE PAPEL </div>
                    </td>
                    <td>
                      <span class="label label-info">Asignado</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="ticket_detail.php?id=402">B2019 - 000764</a></td>
                    <td>Pablo Barrionuevo  (<b>pablo.barrionuevo@netse.com.ar</b>)</td>
                    <td><span class="label label-success">ABisoft INC</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">no enciende la pc fuente rota </div>
                    </td>
                    <td>
                      <span class="label label-info">Asignado</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="ticket_detail.php?id=401">B2019 - 000763</a></td>
                    <td>ARTURO ELIAS (<b>AELIAS@ITDOS.COM</b>)</td>
                    <td><span class="label label-success">Jajaja</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">NO FUNCIONA EQUIPO DE COMPUTO</div>
                    </td>
                    <td>
                      <span class="label label-info">Asignado</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="ticket_detail.php?id=400">B2019 - 000762</a></td>
                    <td>CARLOS  (<b>km2tecnologia@gmail.com</b>)</td>
                    <td><span class="label label-success">ABisoft INC</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">dasdhfhjghg </div>
                    </td>
                    <td>
                      <span class="label label-warning">Registrado</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="ticket_detail.php?id=399">B2019 - 000761</a></td>
                    <td>arturo (<b>arturomr11.cg@gmail.com</b>)</td>
                    <td><span class="label label-success">ABisoft INC</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">no imprime</div>
                    </td>
                    <td>
                      <span class="label label-success">Atendido</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="ticket_detail.php?id=398">B2019 - 000760</a></td>
                    <td>carlos (<b>cesar@gmail</b>)</td>
                    <td><span class="label label-success">ABisoft INC</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">noarranca</div>
                    </td>
                    <td>
                      <span class="label label-success">Atendido</span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="ticket_detail.php?id=397">B2019 - 000759</a></td>
                    <td>fabian colombia (<b>colombia123@gmaillcom</b>)</td>
                    <td><span class="label label-success">ABisoft INC</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">hola desde colombia no me arranca la pc prueb</div>
                    </td>
                    <td>
                      <span class="label label-success">Atendido</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- empleado -->
    <!-- end empleado -->

  </section>
  <!-- /.content -->
</div>
