<body class="theme-default page-signin" style="">
  <div class="signin-container">
    <div class="signin-info">
      <a href="pages-signin.html" class="logo">
        <img src="assets/tony.png" alt="" style="margin-top: 48px; margin-left:15px">
      </a>
      <div class="slogan">
        <strong>TONY TICKETS</strong>
      </div>
      <!--<ul>
        <li><i class="fa fa-sitemap signin-icon"></i> Organigramas de la empresa</li>
        <li><i class="fa fa-file-text-o signin-icon"></i> Formatos de la empresa</li>
        <li><i class="fa fa-outdent signin-icon"></i> Manuales de puesto</li>
        <li><i class="fa fa-outdent signin-icon"></i> Manuales de procedimientos</li>
      </ul>--> <!-- / Info list -->
    </div>

  <div class="signin-form">
    <form action="login.php" id="signin-form_id" method="post" novalidate="novalidate">
      <div class="signin-text">
        <span>Inicia sesión con tu cuenta</span>
      </div> <!-- / .signin-text -->

      <div class="form-group w-icon">
        <input type="text" name="signin_username" id="username_id" class="form-control input-lg" placeholder="Número de Empleado">
        <span class="fa fa-user signin-form-icon"></span>
      </div> <!-- / Username -->

      <div class="form-group w-icon">
        <input type="password" name="signin_password" id="password_id" class="form-control input-lg" placeholder="Contraseña">
        <span class="fa fa-lock signin-form-icon"></span>
      </div> <!-- / Password -->

      <div class="form-actions">
        <input type="submit" value="INICIAR SESIÓN" class="signin-btn bg-primary">
        <a href="#" class="forgot-password" id="forgot-password-link">Olvidaste tu contraseña?</a>
      </div> <!-- / .form-actions -->
    </form>
    <!-- / Form -->
  </div>
  <!-- Right side -->
</div>

  <div class="not-a-member">
    No te has registrado? <a href="pages-signup.html">Registrate aquí</a>
  </div>
</body>
